{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="col-md-6 col-md-offset-3">
        <h1>{{ title }}</h1>
        {% if user.is_authenticated %}
            {% for book in books %}
                <p>
                    <b>Book{{ book.id }}:</b><br/>
                    {{ book.title }} - {{ book.author.last_name }}, {{ book.author.first_name }}<br/>
                    {% if book.cover %}
                        <img src="/media/{{ book.cover }}" class="img-responsive"/>
                        <img src="{{ MEDIA_URL }}{{ book.cover }}" class="img-responsive"/>
                    {% endif %}
                </p>
            {% endfor %}
        {% else %}
            Please login <button class="btn btn-default"><a style="color: black;" href="/login">HERE</a></button>
        {% endif %}
    </div>
{% endblock %}
