<div class="jumbotron"
     style="
         margin-top: 50px;
         background-color: darkgray;
         border-radius: 50px;
         color: white;
         font-family: 'lato';
         font-size: 30px;
         padding: 25px 50px 50px 50px;
         min-height: 300px;
         ">
    <h1>Welcome on my side.</h1>
    You can check <a href="/books">the contents</a> using the registration form or use predefined credentials:<br>
    <b>Login:</b> user<br>
    <b>Password:</b> user12345
</div>