<div class="navbar-fixed-top">
    <div class="row" style="padding: 10px; background-color: black; margin-bottom: 50px; color: white;">
        <div class="col-md-6">
            <a href="/">Home Page</a>
            /
            <a href="/books">Books</a>
            /
            <a href="/contact">Contact</a>
        </div>
        {% if user.is_authenticated %}
            <div class="col-md-6" style="text-align: right;">
                Hi {{ request.user }}
                /
                <a href="/myaccount">My account</a>
                /
                <a href="/logout">Logout</a>
            </div>
        {% else %}
            <div class="col-md-6" style="text-align: right;">
                <a href="/login">Login</a>
                /
                <a href="/register">Register</a>
            </div>
        {% endif %}
    </div>
</div>

<style type="text/css">
    a
	{
		color: lightgray;
		text-decoration: none;
	}
    a:hover
    {
        color: white;
		text-decoration: none;
    }
</style>